<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestão de Estoque | Emprestei</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Gestão de Estoque | Emprestei</h1>

    <!-- Botão "Adicionar Novo Item" estilizado como os outros botões -->
    <a href="{{ url_for('add_item') }}" class="button">Adicionar Novo Item</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Itens Emprestados</th>
                <th>Quantidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item['id'] }}</td>
                <td>{{ item['nome'] }}</td>
                <td>{{ item['item'] }}</td>
                <td>{{ item['quantidade'] }}</td>
                <td class="actions">
                    <a href="{{ url_for('edit_item', id=item['id']) }}" class="button-link">Editar</a>
                    <form action="{{ url_for('delete_item', id=item['id']) }}" method="post" style="display:inline;">
                        <button type="submit" class="button-link">Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

